body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.parallax {
    /* The image used */
    background-image: url("paysage3.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

header{
    background-color: rgb(5, 5, 49);
    padding: 7px;
    margin: 1em;
    border-radius: 15px;

}

.box1{
    display: flex;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

.c{
    flex: 1 1 auto;
}

.b{
    flex: 1 1 auto;
}

a{
    color: #ebe4e4;
}

h2{
    text-align: center;
    margin: 3%;
    color: rgb(5, 5, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    border-radius: 5px;
    background-color:turquoise;
}

.Cuba{
    display: flex;
    margin: 1em;
}

.p1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: 5em;
    margin-left: 1em;
}
.Bali{
    display: flex;
    flex-direction: row-reverse;
    margin: 1em;
}

.p2{
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: 5em;
    margin-right: 1em;
}

/*p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: 5em;
    margin-left: 10px;
}*/