
.p1{
    text-align: right;
}

.p2{
    text-align: justify;
}

.p3{
    text-align: center;
}

.carré1, .carré2{
    height: 200px;
    width: 200px;
}

.carré1{
    background-color: red;
}

.carré2{
    background-color: blue;
    float: right;
}

/*si pas float: carrés en colonne, si tous les carrés ont des float: tous sur la même ligne*/