.carre{
    height: 100px;
    width: 100px;
    background-color: lawngreen;
    margin-bottom: 50px;
    display: inline-block;
}

#relatif1{
    position: relative;
    top: 30px;
    border: 2px solid black;
}

#relatif2{
    position: relative;
    top: 30px;
    left: -10px;
    border: 2px solid black;

}

#absolute1{
    position: absolute;
    top: 320px;
    border: 2px solid black;
}

.container{
    width: 500px;
    height: 200px;
    border: 10px solid rebeccapurple;
    position: relative;
}

#absolute2{ /* bien mettre position: relative dans container sinon absolute2 ne le reconnait pas comme parent*/
    position: absolute;
    top: 10px;
    border: 1px solid black;
}

#fixe{
    position: fixed;
    border: 1px solid black;
    top: 350px;
    left: 300px;

}

#sticke{
    position: sticky;
    left: 50px;
    border: 1px solid black;
}

.ecran{
    width: 2000px;
    height: 100px;
}